*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    padding: 12px 20px;
  }
  
  header,
  footer {
    padding: 20px;
    color: #fff;
  }
  
  header {
    background-color: rgb(93, 187, 230);
    display: flex;
    justify-content: center;
  }
  
  footer {
    margin-top: auto;
    background-color: rgb(93, 187, 230);
  }



  
/* Reset default margin and padding for the entire page */
body, html {
    margin: 0;
    padding: 0;
    
}

/* Center the preloader in the middle of the viewport */
.preloader {
    display: flex;
    flex-direction: column; /* Stack welcome text and progress bar vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background-image: linear-gradient(to bottom, rgb(224, 205, 241), #6927b4, blue); /* Gradient background */
}
.preloader .h1{
   
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;

} 

/* Create the progress bar container */
.progress-bar {
    width: 80%;
    max-width: 90px; /* Limit the width of the progress bar */
    height: 10px;
    background-color: #ccc;
    border-radius: 10px;
}

/* Style the progress bar itself */
.progress {
    height: 100%;
    width: 0;
    background-color: #56afea;
    border-radius: 10px;
    transition: width 0.1s ease-in-out;
}
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    } 
}


/* Style for the container */
.container {
    max-width: 600px;
    margin-top: 80px;
    position: relative; /* or absolute, depending on your layout */
    top: 200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the heading */
.container h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

/* Style for the paragraph */
.container p {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #555;
}

/* Style for the links */
.container a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    /* height: 10px; */
    border-radius: 4px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.container a:hover {
    background-color: #0056b3;
}

/* footer */
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


  